{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}AVIATE{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
        <h1>AVIATE</h1>
        <nav>
            <ul>
                <li><a href="{% url 'create-candidate' %}">Create Candidates</a></li>
                <li><a href="{% url 'search-candidates' %}">Search Candidates</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; Aviate</p>
    </footer>
</body>
</html>
