{% extends 'base.html' %}
{% load static %} 
{% block content %}
<h2>Candidate List</h2>

<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<style>
.slider-container {
    width: 20%;
    /* margin: 0 auto; */
}

.slider-labels {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.slider-label {
    font-size: 12px;
    color: #000;
}

#age-slider {
    height: 8px; 
    width: 100%;
}

.ui-slider-handle {
    width: 14px; 
    height: 14px; 
    background-color: #337ab7;
    border-radius: 50%;
}
 
</style>

<form id="search-form"  action="{% url 'search-candidates' %}">
    <input type="text" name="search" placeholder="Search by name, email, or phone number" value="{{ request.GET.search }}">
    <br>
    <br>
    <a>AGE</a>
    <div class="slider-container">
        <div id="age-slider"></div>
        <div class="slider-labels">
            <span class="slider-label" id="min-label">0</span>
            <span class="slider-label" id="max-label">100</span>
        </div>
        <input type="hidden" id="age_min" name="age_min" value="{{ request.GET.age_min }}">
        <input type="hidden" id="age_max" name="age_max" value="{{ request.GET.age_max }}">
    </div>    
    <input type="number" name="years_of_exp_min" placeholder="Min Years of Experience" value="{{ request.GET.years_of_exp_min }}">
    <input type="number" id="expected_salary_min" name="expected_salary_min" placeholder="Current Salary" value="{{ request.GET.expected_salary_min }}">
    <input type="number" id="expected_salary_max" name="expected_salary_max" placeholder="Expected Salary" value="{{ request.GET.expected_salary_max }}">
    <br>
    <br>
    <button type="submit">Search</button>
</form>

{% if page_obj %}
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Years of Experience</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Current Salary</th>
            <th>Expected Salary</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for candidate in page_obj %}
        <tr>
            <td>{{ candidate.name }}</td>
            <td>{{ candidate.age }}</td>
            <td>{{ candidate.gender }}</td>
            <td>{{ candidate.years_of_exp }}</td>
            <td>{{ candidate.phone_number }}</td>
            <td>{{ candidate.email }}</td>
            <td>{{ candidate.current_salary }}</td>
            <td>{{ candidate.expected_salary }}</td>
            <td>{{ candidate.status }}</td>
            <td>
                {% if candidate.status == 'Applied' %}
                <button class="btn-shortlist" data-id="{{ candidate.id }}">Shortlist</button>
                <button class="btn-reject" data-id="{{ candidate.id }}">Reject</button>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% else %}
<p>No candidates found matching the criteria.</p>
{% endif %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="{% static 'js/candidate_list.js' %}"></script>
{% endblock %}
